In [1]:
import pandas as pd
from vdom import pre

pd.options.display.html.table_schema = True # Data Explorer On!
pd.options.display.max_rows = None # Send all the data! (careful!)

In [2]:
df = pd.read_csv(
  "https://raw.githubusercontent.com/thewilly/GIISOF01-4-008-Sistemas-Inteligentes/master/busqueda-heuristica/heuristico-times.csv"
)

In [3]:
display(pre("Note: This data is sampled"))
df

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.4,1.5
0,169,133,113,133,105,76,78,47,58,93,87,71,54,47,48
1,174,130,118,106,84,71,58,50,54,56,67,66,55,47,61
2,168,160,137,78,108,69,57,50,72,51,61,70,61,65,52
3,187,170,112,88,107,72,73,48,56,59,67,64,71,46,48